<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TEATRACK_MCD_253EIE502802_Group02">
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.shared.ui.NavBarClient"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.shared.ui.NavBarAdmin"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.shared.ui.HeaderAdmin"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.shared.ui.HeaderClient"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.ChatbotBubble"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.ContactWithUs"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.FilledOTP"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.BlogDetail"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.BlogGeneral"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.AboutUs"
            android:exported="false"
            android:theme="@style/Theme.TEATRACK_MCD_253EIE502802_Group02" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.Payment"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.Checkout"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.Cart"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.ProductDetail"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.Menu"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.PageNotFound"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.OrderTracking"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.OrderHistory"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.UserProfile"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.ForgotPassword"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.AdminOrders"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.AdminPromotion"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.AdminComplaints"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.AdminBlog"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.AdminAgency"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.Agency"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.AdminProduct"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.AdminProfile"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.AdminAccount"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.client.Homepage"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name="com.teatrack_mcd_253eie502802_group02.admin.Ad"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>